{% extends 'base.html' %}

{% block title %}课程机构列表(LF-Learning){% endblock %}

{% block page_path %}
    授课机构展示
{% endblock %}

{% block content %}
    <section>
        <div class="wp butler_list_box list">
            <div class='left'>
                <div class="listoptions">
                    <ul>
                        <li>
                            <h2>机构类别</h2>
                            <div class="cont">
                                <a href="?cat=&city={{ city_id }}"><span class="{% ifequal category '' %}active2{% endifequal %}">全部</span></a>
                                <a href="?cat=jg&city={{ city_id }}"><span class="{% ifequal category 'jg' %}active2{% endifequal %}">教育机构</span></a>
                                <a href="?cat=gx&city={{ city_id }}"><span class="{% ifequal category 'gx' %}active2{% endifequal %}">高校</span></a>
                                <a href="?cat=gr&city={{ city_id }}"><span class="{% ifequal category 'gr' %}active2{% endifequal %}">个人</span></a>
                            </div>
                        </li>
                        <li>
                            <h2>所在地区</h2>
                            <div class="more">更多</div>
                            <div class="cont">
                                <a href="?city=&cat={{ category }}"><span class="{% ifequal city_id '' %}active2{% endifequal %}">全部</span></a>
                                {# 获得所有城市名#}
                                {% for city in all_cities %}
                                    <a href="?city={{ city.id }}&cat={{ category }}"><span
                                            class="{% ifequal city_id city.id|stringformat:"i" %}active2{% endifequal %}">{{ city.name }}</span></a>
                                {% endfor %}
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="all">共<span class="key">{{ org_nums }}</span>家</div>
                <div class="butler_list company list">
                    <div class="layout">
                        <div class="head">
                            <ul class="tab_header">
                                <li class="{% if sort == '' %}active{% endif %}"><a href="?cat={{ category }}&city={{ city_id }}">全部</a></li>
                                <li class="{% if sort == 'students' %}active{% endif %}"><a href="?sort=students&cat={{ category }}&city={{ city_id }}">学习人数 &#8595;</a></li>
                                <li class="{% if sort == 'courses' %}active{% endif %}"><a href="?sort=courses&cat={{ category }}&city={{ city_id }}">课程数 &#8595;</a></li>
                            </ul>
                        </div>
                        {#获得所有机构信息#}
                        {% for course_orgs in all_orgs.object_list %}
                            <dl class="des difdes">
                                <dt>
                                    <a href="{% url 'org:org_home' course_orgs.id %}">
                                        <img width="200" height="120" class="scrollLoading"
                                             data-url="{{ MEDIA_URL }}{{ course_orgs.image }}"/>
                                    </a>
                                </dt>
                                <dd>
                                    <div class="clearfix">
                                        <a href="{% url 'org:org_home' course_orgs.id %}">
                                            <h1> {{ course_orgs.name }}</h1>
                                        </a>
                                    </div>
                                    <ul class="cont">
                                        <li class="first"><p class="pic9">课程数：<span>{{ course_orgs.course_nums }}</span></p>
                                            <p class="c7">学习人数：<span>{{ course_orgs.students }}</span></p></li>
                                        <li class="c8" style="padding-left:18px;">{{ course_orgs.address }}</li>
                                    </ul>
                                </dd>
                                <div class="buy start_groupbuy jsShowPerfect2" data-id="22">
{#                                    <a href="{% url 'org:org_home' course_orgs.id %}" >#}
                                        <br/>查看<br/>详情
{#                                    </a>#}
                                </div>
                            </dl>
                        {% endfor %}
                    </div>
                    <div class="pageturn">
                        <ul class="pagelist">
                            {% if all_orgs.has_previous %}
                                <li class="long"><a href="?{{ all_orgs.previous_page_number.querystring }}">上一页</a></li>
                            {% endif %}

                            {% for page in all_orgs.pages %}
                                {% if page %}
                                    {% ifequal page all_orgs.number %}
                                        <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                    {% else %}
                                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li></a>
                                    {% endifequal %}
                                {% else %}
                                    <li class="none"><a href="">...</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if all_orgs.has_next %}
                                <li class="long"><a href="?{{ all_orgs.next_page_number.querystring }}">下一页</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="right companyrank layout">
                <div class="head">授课机构排名</div>
                {% for this_orgs in hot_orgs%}
                <dl class="des">
                    <dt class="num fl">{{ forloop.counter }}</dt>
                    <dd>
                        <a href="{% url 'org:org_home' this_orgs.id %}"><h1>{{ this_orgs.name }}</h1></a>
                        <p>{{ this_orgs.address }}</p>
                    </dd>
                </dl>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}



